input {
    padding: 5px 5px 5px 30px;
    background-repeat: no-repeat;
    margin-top: 10px;
    font-size: 120%;
    color: #5a5854;
    background-color: #f2f2f2;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}
input:focus {
    background-color: #ffffff;
    border: 5px solid darkgoldenrod;
}
input:hover {
background-color: red;
}
#email {
    display: block;
    font-size: 16px;
    background-image: url("../images/resized_email.png");
    background-position: 4px 1px;
}
#twitter {
    display: block;
    font-size: 16px;
    background-image: url("../images/resized_twitter.png");
    background-position: 4px 1px;
}
#web {
    display: block;
    font-size: 16px;
    background-image: url("../images/resized_web.jpg");
    background-position: 4px 1px;
}