body {
    padding-left: 10%;
    padding-top: 5%;
}

tbale {
    border-collapse: collapse;
}

td {
    width: 5px;
    height: 10px;
    border: 2px solid blue;
    padding: 5px;
    border-spacing: 3px;
}

td:empty {
    visibility: hidden;
}