.content_box {
    width: 50%;
    margin: 50px;
    padding: 30px;
    border: 1px solid black;

    font-family: Arial, Helvetica, sans-serif;
}

h1 {

    color: rgb(57, 57, 57);
}
table {
    border-collapse: collapse;
}
th, td {
    width: 100px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.row3 {
    border-bottom: none;
}
.col1 {
    border-left: none;
}
.col3 {
    border-right: none;
}
th {
    background-color: rgb(128, 128, 252);
    color: white;
    text-shadow: 0 0 1px;
    border: 1px solid grey;
    border-top: none;
    border-bottom: 3px solid rgb(85, 85, 254);

}
.a11 {
    border-radius: 5px 0 0 0;
}
.a13 {
    border-radius: 0 5px 0 0;
}
td {
    background-color: rgb(219, 219, 255);
    color: rgb(65, 64, 64);
    border: 0.75px solid rgb(193, 193, 193);
}

.sub_heading {
    margin-bottom: -20px;
    padding-bottom: none;
    border-bottom: 1px solid grey;
}
h3 {
    margin-top: none;
    padding-top: none;
}
.sub_h3 {
    color: rgb(78, 78, 208);
}