body {
    padding-left: 10%;

    padding-top: 5%;
}

div.table_container {
    display: flex;
}
td {

    padding: 15px;

    border: 2px solid black;
    background-color: blue;
    
}
table.one {
    border-spacing: 5px 15px;
    margin-top: -15px;
    
}
table.two{
    border-collapse: collapse;
    margin-left: 20px;
    height: 10px
}

td:empty {
    visibility: hidden;
}