body {
    padding: 10px;
    width: 400px;
    background-color: rgb(200,200,200);
}
h1 {
    padding: 10px;
    background-color: darkcyan;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2 {
    padding: 10px;
    background-color: #ee3e80;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    padding: 10px;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    color: rgb(95, 95, 95);
}